language: rust
rust:
  - stable

os: linux
dist: focal

addons:
  apt:
    packages:
      - gcc-aarch64-linux-gnu
      - libc6-arm64-cross
      - libc6-dev-arm64-cross
      - binutils-aarch64-linux-gnu

env:
  global:
    - RP2040_FIRMWARE_VERSION=0.2.5

before_script:
  - rustup target add aarch64-unknown-linux-musl
  - |
    echo "[target.aarch64-unknown-linux-musl]" > ~/.cargo/config
    echo "linker = \"aarch64-linux-gnu-gcc\"" >> ~/.cargo/config


script:
  - if [ -n "$TRAVIS_TAG" ]; then sed -i "s/version = \"0.0.0-snapshot\"/version = \"${TRAVIS_TAG#v}\"/g" Cargo.toml; fi
  - cargo install cargo-deb --version 2.3.0
  - wget -O _releases/tc2-firmware.sha256 https://github.com/TheCacophonyProject/tc2-firmware/releases/download/v${RP2040_FIRMWARE_VERSION}/tc2-firmware.sha256
  - wget -O _releases/tc2-firmware https://github.com/TheCacophonyProject/tc2-firmware/releases/download/v${RP2040_FIRMWARE_VERSION}/tc2-firmware
  - cargo build --release --target=aarch64-unknown-linux-musl
  - cargo deb --target=aarch64-unknown-linux-musl --output tc2-agent_${TRAVIS_TAG#v}_arm64.deb

deploy:
  provider: releases
  token: $GITHUB_TOKEN
  file:
    - "tc2-agent_${TRAVIS_TAG#v}_arm64.deb"
  skip_cleanup: true
  on:
    tags: true
