
[Unit]
Description=Cacophony Project TC2 Agent
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/tc2-agent
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
